
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


img.imgloanding{
    width: 100px;
    height: 60px;
    position: fixed;
    top:  30%;
    left: 50%;
}
span.negrita{
    color: brown;
    font-weight: bold;
}

.rojo{
    color: brown;
    background-color: brown;
}